/* Global ======================*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  width: 100%;
  background-color: #222b31;
  overflow-x: hidden;
  background-image: url("../../assets/images/imgfundo13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* Header */

#menu {
  padding: 10px;
  width: 100%;
  min-height: 11vh;
  display: flex;
  background: #222b31;
  border-bottom: 5px solid #00b4cc;
  justify-content: space-around;
  align-items: center;
}

/* Logotipo */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-nome h1 {
  color: white;
  margin-top: 35px;
  font-family: system-ui;
  font-size: 30px;
  letter-spacing: 3px;
  text-shadow: black 0.2em 0.1em 0.2em;
}

/* Barra de procura  */

.barra-search {
  width: 25%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.form-control {
  border: 3px solid #00b4cc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 5px 0px 0px 5px;
}

.botao-search {
  width: 17%;
  border: 3px solid #00b4cc;
  background-color: #00b4cc;
  border-radius: 0px 5px 5px 0px;
}

.imagemlupa {
  width: 20px;
}

/* Responsividade */

@media screen and (max-width: 850px) {
  #menu {
    display: block;
  }
  .barra-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .d-flex {
    width: 80%;
  }
}
