/* Global ======================*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 93.75%;
}
body {
  background: #e2dfdf;
  font-family: "Mohave", sans-serif;
}

/* header */

#menu {
  width: 100%;
  height: 320px;
  display: flex;
  position: relative;
  padding-top: 30px;
}

.logo {
  z-index: 1;
  width: 100%;
  padding: 0px 190px;
}

.imgfundo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  object-fit: cover;
}
