/* Global ======================*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  width: 100%;
  background-color: #222b31;
  overflow-x: hidden;
  background-image: url("./assets/images/imgfundogeral.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1195px) {
  body {
    background-size: auto;
  }
}
